
<div class="issues-list">
    <div class="whole text-center blk blk--hero blk--hero--alt">
        <div class="cw--c ddh-hero">
            <h1 class="ddh-hero__title">List of Open Issues</h1>
        </div>
    </div>
    <div class="ddh blk--content">
        <ul>
        {{#each items}}
            <li class="fa-border text-left ddh--comm__item {{#each labels}}tag-{{slug name}} {{/each}} clearfix" {{#if @first}}style="margin-top:1em;"{{/if}}>
	          <p>
                <div class="r-iblock">
	                <a class="tx-clr--dk one-line issue-name" href="https://github.com/duckduckgo/zeroclickinfo-{{repo}}/issues/{{id}}">
                        {{title}}
                    </a>
	                <span class="tx-clr--lt tx-size--small">
                        opened {{timeago created_at false}} ago by <a class="tx-clr--lt" href="https://github.com/{{user.login}}">{{user.login}}</a> 
	                </span>
	             </div>
                 <div class="t-xxxs r-iblock">
                    {{#each labels}}
                        <div class="r-iblock btn" style="border-color:#{{color}}; color:#{{color}};">{{name}}</div>
                    {{/each}}
                 </div>
               </p>
            </li>
        {{/each}}
        </ul>
    </div>
</div>

