<li class="issue--item h3 pv3 bb b--black-10 {{#each labels}}tag-{{slug name}} {{/each}}">
  <div class="gw">
    <div class="g threequarter r-iblock pl4">
      <div class="r-iblock">
        <a class="tx-clr--dk one-line issue-name" href="{{html_url}}">
                {{title}}
            </a>
        <span class="black-50">
                ({{timeago created_at false}} ago)
          </span>
      </div>
      <!--{{#if high_priority}}
      <div class="t-xxxs r-iblock">
        <div class="r-iblock btn" style="border-color:#eb6420; color:#eb6420;">High Priority</div>
      </div>
      {{/if}}-->
    </div>
    <div class="g quarter r-iblock">
      <div class="fl w-50 r-iblock tc">
        {{#if difficulty}}
          <div class="r-iblock black-70">{{difficulty}}</div>
        {{else}}
          <span class="black-20">—</span>
        {{/if}}
      </div>
      <div class="fl w-50 r-iblock tc">
        {{#if skill}}
          <div class="r-iblock black-70">{{skill}}</div>
        {{else}}
          <span class="black-20">—</span>
        {{/if}}
      </div>
    </div>
  </div>
</li>
