
<div class="issues-list">
    <div class="whole text-center blk blk--hero blk--hero--alt">
        <div class="cw--c ddh-hero">
            <h1 class="ddh-hero__title">DuckDuckHack Tasks</h1>
            <h3>Improve Instant Answers or create new ones</h3>
            <p>Each task has detailed instructions to help you get started.
            See <a class="fa-inverse" href="index.html">DuckDuckHack.com</a> and the <a class="fa-inverse" href="https://docs.duckduckhack.com">documentation</a> for more.</p>
        </div>
    </div>
    <div class="ddh blk--content">
        <ul>
        {{#each items}}
            <li class="fa-border text-left ddh--comm__item {{#each labels}}tag-{{slug name}} {{/each}} clearfix" {{#if @first}}style="margin-top:10em; padding-top:1.35em;"{{/if}}>
	          <p>
                <div class="r-iblock">
	                <a class="tx-clr--dk one-line issue-name" href="{{url}}">
                        {{title}}
                    </a>
	                <span class="tx-clr--lt tx-size--small">
                        opened {{timeago created_at false}} ago
	                </span>
	             </div>
                 <div class="t-xxxs r-iblock">
                    {{#each labels}}
                        <div class="r-iblock btn" style="border-color:#{{color}}; color:#{{color}};">{{name}}</div>
                    {{/each}}
                 </div>
               </p>
            </li>
        {{/each}}
        </ul>
    </div>
</div>

