<li class="issue--item h3 pv3 bb b--black-10 bg-white {{#each labels}}tag-{{slug name}} {{/each}}">
  <div>
    <div class="fl w-50 w-60-l r-iblock pl4">
      <div class="r-iblock one-line w-100">
        <a class="issue-name" href="{{html_url}}">
                {{title}}
            </a>
        <span class="black-50">
                ({{timeago created_at false}} ago)
          </span> {{#if high_priority}}
        <div class="t-xxxs r-iblock">
          <div class="r-iblock btn bg-light-red b--light-red white high-priority" style="vertical-align: initial;">High Priority</div>
        </div>
        {{/if}}
      </div>
    </div>
    <div class="fl w-50 w-40-l r-iblock">
      <div class="fl w-50 r-iblock tc">
        {{#if difficulty}}
        <div class="r-iblock black-70">{{difficulty}}</div>
        {{else}}
        <span class="black-20">—</span> {{/if}}
      </div>
      <div class="fl w-50 r-iblock tc overflow-hidden">
        {{#if skill}}
        <div class="r-iblock black-70">{{skill}}</div>
        {{else}}
        <span class="black-20">—</span> {{/if}}
      </div>
    </div>
  </div>
</li>
